
/* for page */
#btn_choose_icon {
    line-height: unset;
}    

#rds-page-title {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: white;
    padding: 8px 20px;
    border-bottom: thin solid rgb(195, 196, 199, 0.75);
    align-items: center;
    h1{
        font-size: x-large;
        margin: .5em 0;
    }

    button {
        padding: 0 12px;
        height: fit-content;
        min-height: 32px;        
    }    
}

#rds-page-footer {
    padding: 20px;
    border-top: thin solid rgb(195, 196, 199, 0.75);
}


/* for list */
#option-page-list {
    font-size: 14px;
}

.bef-tranform-rotate-45:before {
    transform: rotate(45deg);
}

.rds-dtt-actions {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    width: 128px;
}

.rds-dtt-actions > * {
    flex-basis: calc(100% / 4);
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
}

.rds-dtt-actions > *:hover {
    background-color: #d5d5d5;
    border-radius: 5px;
}
